<header>
    <h1>Schedule Website</h1>
    <div>
        <a href="/schedules/new">New Schedule</a>
        <a href="/users/new">New User</a>
        <a href="/schedules">List of Schedules</a>
        <a href="/users">List of Users</a>
    </div>
</header>
